main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(/img/bg/bg-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contantcs{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 55px;
    margin: 25px;
    border-radius: 15px;
    color: #fff;
    background-color: #1c1c1c;
    width: 25%;
}

.contantcs h1{
    font-size: 45px;
    font-weight: bold;
}

#form_contact{
    display: flex;
    flex-direction: column;
}

#form_contact div{
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 20px;
}

#form_contact input, textarea{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

#form_contact button{
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    background-color: #871217;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

/* Configuração respanciva */

@media (max-width: 768px){
   .contantcs{
        width: 100%;
        margin: 0;
        padding: 20px 0px;
    }

    .contantcs h1{
        font-size: 55px;
        font-weight: bold;
    }
    
    #form_contact label{
        font-size: 22px;
    }
    
    #form_contact input, textarea{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #871217;
    }
    
    #form_contact button{
        font-size: 22px;
        width: 100%;
    }

    .references{
        background-color: #871217;
        color: #fff;
        text-align: center;
        margin: 20px ;
        font-size: 15px;
    }
    
    .references a{
        color: #fff;
        font-size: 15px;
    }
    
}

.references{
    background-color: #871217;
    color: #fff;
    text-align: center;
    font-size: 15px;
    flex-wrap: wrap;
}

.references a{
    color: #fff;
}